<!DOCTYPE html>
<html>
<head>
  <title>Firaq</title>
  <%= stylesheet_link_tag    "firaq/application", media: "all" %>
  <%= javascript_include_tag "firaq/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
